<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/")" id="root" rel="self" />
    
    @*    @{ Bundles.Reference("Content/css"); }
    @Bundles.RenderStylesheets()*@
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css"/>
</head>
<body>
    @RenderBody()
    <script data-main="@Url.Content("~/Scripts/main.js")" src="@Url.Content("~/Scripts/dependencies/requirejs/require.js")"></script>
</body>
</html>